/* header {
    padding: 10px 0px;
    background: black;
}

.menu ul {
    padding: 0;
    margin: 0;
}

.menu ul li {
    list-style-type: none;
    color: white;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

.menu ul li a:hover {
    color: coral;
    transition: 0.4 ease-in-out;
} */
.navbar-nav {
    text-align: right;
    padding: 10px;
}

.navbar .navbar-nav .nav-link {
    list-style-type: none;
    color: white;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
}

.navbar .navbar-nav .nav-link:hover {
    color: coral;
}

.navbar-brand {
    color: white;
}

.navbar-toggler {
    color: white;
}

.username {
    color: white;
    margin-top: 10px;

}

#myNavbarToggler3 {
    flex-direction: row-reverse !important;
}