<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1>Blog App</h1>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button routerLink="/home"> Home </a>
            <a mat-button routerLink="/about"> About Us </a>
            <a mat-button routerLink="/contact"> Contacts </a>
            <a mat-button routerLink="/admin-dashboard" *ngIf="dashboard!=''"> {{dashboard}} </a>
            <a mat-button routerLink="/blog-list" *ngIf="BlogList!=''"> {{BlogList}} </a>
            <a mat-button routerLink="/add-blog" *ngIf="addBlog!=''"> {{addBlog}} </a>
            <a mat-button routerLink="/user-dashboard" *ngIf="userdashboard!=''"> {{userdashboard}} </a>

            <a mat-raised-button routerLink="login" *ngIf="!isLogin()"> Login</a>

            <a mat-raised-button routerLink="login" *ngIf="isLogin()" (click)="logout()">
                Logout</a>

        </div>
        <span class="spacer"></span>
        <span class="welcome-msg" *ngIf="username!=''">{{username}}</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item routerLink="/home" (click)="sidenav.toggle()"> Home </a>
            <a mat-list-item (click)="sidenav.toggle()"> About Us </a>
            <a mat-list-item (click)="sidenav.toggle()" routerLink="/contact"> Contacts </a>
            <a mat-list-item routerLink="/admin-dashboard" *ngIf="dashboard!=''"> {{dashboard}} </a>
            <a mat-list-item routerLink="/blog-list" *ngIf="BlogList!=''"> {{BlogList}} </a>
            <a mat-list-item routerLink="/add-blog" *ngIf="addBlog!=''"> {{addBlog}} </a>
            <a mat-list-item routerLink="/user-dashboard" *ngIf="userdashboard!=''"> {{userdashboard}} </a>
            <a mat-list-item (click)="sidenav.toggle()">Close</a>
            <!-- <a mat-list-item routerLink="/login" *ngIf="!isLogin"> Login </a>

            <a mat-list-item (click)="logout()" *ngIf="isLogin"> Logout </a> -->
            <a mat-list-item color="primary" routerLink="login" (click)="sidenav.toggle()" *ngIf="!isLogin()"> Login</a>

            <a mat-list-item routerLink="login" *ngIf="isLogin()" (click)="sidenav.toggle()" (click)="logout()">
                Logout</a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 91vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>