<!-- <div class="container-fluid">
    <div class="row">
        <h2 class="h2 text-center p-3">User Information</h2>
    </div>
    <div class="row">
        <div class="col-sm p-3">
            <button routerLink="/register" class="btn btn-success">Add User</button>
        </div>
    </div>
    <div class="row">
        <table class="table able-striped dt-responsive nowrap">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Status</th>
                    <th scope="col">Role</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.id}}</td>
                    <td>{{user.fname}}</td>
                    <td>{{user.lname}}</td>
                    <td>{{user.email}}</td>
                    <td>

                        <button *ngIf="user.isactive" class="btn btn-success">Active</button>
                        <button data-toggle="modal" data-target="#exampleModalCenterStatus" *ngIf="!user.isactive"
                            class="btn btn-danger" (click)="sendId(user.id)">Inactive</button>
                    </td>

                    <td>{{user.role}}</td>
                    <td><a [routerLink]="['/editUser/',user.id]" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                    </td>
                    <td><button type="button" data-toggle="modal" (click)="sendDeleteUserId(user.id)"
                            data-target="#exampleModalCenterDelete" class="btn btn-danger"><i
                                class="fa fa-trash"></i></button>
                    </td>

                </tr>
                <div class="modal fade" id="exampleModalCenterStatus" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Do You Want to change status</h5>
                                <button type="button" class="btn border border-0" data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Change Status to Active ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                <button type="button" class="btn btn-primary" data-dismiss="modal"
                                    (click)="updateUser()">Active</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="exampleModalCenterDelete" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Are you sure want to delete this
                                    record</h5>
                                <button type="button" class="btn border border-0" data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Delete this user?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                <button type="button" class="btn btn-primary" data-dismiss="modal"
                                    (click)="deleteUser()">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </tbody>
        </table>
    </div>
</div> -->
<div class="container-fluid">
    <h1 class="h3 text-center pt-3">User DataTable</h1>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-3 p-2">
                    <button mat-raised-button color="primary" routerLink="/register">Add User</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                        <td class="col-val" mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="fname">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                        <td class="col-val" mat-cell *matCellDef="let element"> {{element.fname}} </td>
                    </ng-container>


                    <ng-container matColumnDef="lname">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                        <td class="col-val" mat-cell *matCellDef="let element"> {{element.lname}} </td>
                    </ng-container>


                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email Address </th>
                        <td class="col-val" mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="password">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Password </th>
                        <td class="col-val" mat-cell *matCellDef="let element">
                            <button mat-raised-button color="basic" matTooltip=" {{element.password}}"
                                matTooltipClass="multiline-tooltip">Hover Me! </button>
                        </td>
                    </ng-container>


                    <ng-container matColumnDef="role">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                        <td class="col-val" mat-cell *matCellDef="let element"> {{element.role}} </td>
                    </ng-container>


                    <ng-container matColumnDef="isactive">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>

                        <td class="col-val" mat-cell *matCellDef="let element"><button disabled *ngIf="element.isactive"
                                color="primary" mat-raised-button>
                                Active </button>
                            <button (click)="changeStatus(element.id)" *ngIf="!element.isactive" color="primary"
                                mat-raised-button>
                                InActive </button>

                        </td>

                    </ng-container>

                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef> Edit</th>
                        <td mat-cell *matCellDef="let element">
                            <a [routerLink]="['/editUser/',element.id]"> <button mat-icon-button
                                    matTooltip="Click to Edit" class="iconbutton" color="primary">
                                    <mat-icon>edit</mat-icon></button></a>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef> Delete</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-button matTooltip="Click to Delete" (click)="opendialog(element.id)"
                                class="iconbutton" color="warn">
                                <mat-icon>delete</mat-icon></button>

                            <!-- <button type="button" mat-button color="warn" matTooltip="Click to Delete"
                                class="iconbutton" (click)="deleteUser(element.id)"><mat-icon>delete</mat-icon></button> -->
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>

            </div>
        </div>
    </div>
</div>