<div class="container-fluid">
    <div class="row pt-3">
        <div class="col-sm-4 col-md-4 pb-2">
            <div class="card">
                <img class="card-img-top" src="../../assets/img/image1.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Angular v15 is now available!</h5>
                    <p class="card-text">Over the past year we removed Angular's legacy compiler and rendering pipeline
                        which enabled the development of a series of developer…</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 pb-2">
            <div class="card">
                <img class="card-img-top" src="../../assets/img/image2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Advancements in the Angular Router</h5>
                    <p class="card-text">The Angular team has been busy making some meaningful updates to the Angular
                        router
                        that are available as of Angular v14.2. We're pleased</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 pb-2">
            <div class="card">
                <img class="card-img-top" src="../../assets/img/image3.webp" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Modern CSS in Angular: Layouts</h5>
                    <p class="card-text">This week, we tackle layouts.</p>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-md-4 pb-2">
            <div class="card">
                <img class="card-img-top" src="../../assets/img/image4.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Developer Survey 2021 Results</h5>
                    <p class="card-text">Earlier this year, we ran our annual developer survey. We received nearly 25k
                        responses and want to thank each and everyone of you for…
                    </p>

                </div>
            </div>
        </div>


    </div>
</div>