<div class="container-fluid-sm">
    <footer class="footer">
        <div class="row">
            <div class="col-sm-4">
                <div class="menu m-0">
                    <ul>
                        <li>
                            <a routerLink="home">Home</a>
                        </li>

                        <li>
                            <a>Service</a>
                        </li>


                        <li>
                            <a>AboutUs</a>
                        </li>

                        <li>
                            <a>Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-8">
                <img src="Angular/Angularapp/src/assets/img/logo.png" alt="logo">
            </div>
            <p>&copy;Copyright reserve form xyz;</p>
        </div>
    </footer>
</div>

<!-- <footer class="bg-black text-white text-center text-lg-start">
    <div class="container-fluid px-5 mf-0 pt-2 mt-3">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-0 mb-md-0">
                <h5 class="text-uppercase">Footer Content</h5>

                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                    molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                    voluptatem veniam, est atque cumque eum delectus sint!
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-md-0">
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white">Link 1</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Link 2</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Link 3</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Link 4</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-uppercase mb-0">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-white">Link 1</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Link 2</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Link 3</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Link 4</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer> -->

<router-outlet></router-outlet>