<footer class="footer">
    <div class="container-sm pb-2">
        <div class="row">
            <div class="col-sm-4">
                <div class="menu m-0">
                    <ul>
                        <li>
                            <a routerLink="home">Home</a>
                        </li>

                        <li>
                            <a>Service</a>
                        </li>


                        <li>
                            <a>AboutUs</a>
                        </li>

                        <li>
                            <a>Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-8">
                <img src="Angular/Angularapp/src/assets/img/logo.png" alt="logo">
            </div>
            <p>&copy;Copyright reserve form xyz;</p>
        </div>
    </div>
</footer>
<router-outlet></router-outlet>