* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    color: aliceblue;
    background: black;
    bottom: 0;
    left: 0;
    text-align: center;
    right: 0;
    height: auto;
    padding-top: 20px;
}

@media only screen and (min-width: 1024px) {

    footer {
        color: aliceblue;
        background: black;
        bottom: 0 !important;
        left: 0;
        text-align: center;
        right: 0;
        height: auto;
        padding-top: 10px;
        margin-top: 113px;
    }
}

/*Large laptop*/
@media only screen and (min-width: 1440px) {
    footer {
        color: aliceblue;
        background: black;
        bottom: 0;
        left: 0;
        text-align: center;
        right: 0;
        height: auto;
        padding-top: 10px;
        margin-top: 30px;
    }
}

@media only screen and (min-width: 2560px) {
    footer {
        color: aliceblue;
        background: black;
        bottom: 0;
        left: 0;
        text-align: center;
        right: 0;
        height: auto;
        padding-top: 10px;
        margin-top: 80px;
    }
}

.menu {
    padding: 10px;
}

ul li {
    list-style-type: none;
    padding: 2px;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover {
    text-decoration: none;
    color: coral;
    transition: 0.4 ease-in-out;
    cursor: pointer;
}