mat-card {
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    max-height: 600px;
    padding: 30px;
}

mat-form-field {
    width: -webkit-fill-available;
}

.email-error {
    color: red;
    margin-right: 400px;
    margin-top: 10px;
}