<div class="container-fluid contact p-5 mt-8 text-center">
    <div class="row align-items-center">
        <div class="col-md-6 mt-4 address">
            <h3 class="h3">Address</h3>
            <p class="p">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae voluptatibus iusto voluptas vitae
                dignissimos voluptate quos dolorem repellat dolores modi vero earum itaque laudantium voluptatum
                accusantium sed repudiandae, non ex
                lorem
            </p>
        </div>
        <div class="col-md-6 p-2 shadow mt-4">
            <iframe class="map"
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d58750.5367164719!2d72.52425034319369!3d23.02712994723884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1677665408442!5m2!1sen!2sin"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>