*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
table{
    margin-top: 100px;
    width: 50%;
    height: 50%;
    border: none;
}
thead th{
    background-color:rgb(42, 102, 41);
    width: 25%;
    color: aliceblue;
    padding: 10px 8px;
    font-family: sans-serif;
}
td{
    padding: 10px 20px;
    text-align: left;
    font-family: sans-serif;
}

tbody tr:nth-child(odd){
    background-color: #f8f9fa;
}
tbody tr:nth-child(even){
    background-color: #e9ecef;
}